/* Theme Configuration (Colors & Design Tokens) */

@layer base {
  :root {
    /*  Light Theme (Default)                                                     */

    /* Content Colors (Text & Icons) */
    --content-primary: var(--color-slate-900);
    --content-secondary: var(--color-slate-600);
    --content-tertiary: var(--color-slate-500);
    --content-disable: var(--color-black);
    --content-brand: var(--color-orange-600);
    --content-link: var(--color-black);
    --content-info: var(--color-sky-600);
    --content-notice: var(--color-yellow-600);
    --content-negative: var(--color-red-600);
    --content-positive: var(--color-green-600);

    /* Background Colors */
    --color-fill-primary: var(--color-white);
    --color-fill-secondary: var(--color-slate-100);
    --color-fill-tertiary: var(--color-slate-200);
    --color-fill-brand: var(--color-orange-600);
    --color-fill-negative: var(--color-red-600);
    --color-fill-negative-subtle: var(--color-red-50);
    --color-fill-positive: var(--color-green-600);
    --color-fill-positive-subtle: var(--color-green-50);
    --color-fill-info: var(--color-sky-600);
    --color-fill-info-subtle: var(--color-sky-50);
    --color-fill-notice: var(--color-yellow-600);
    --color-fill-notice-subtle: var(--color-yellow-50);
    
  }

  /* Dark Theme (not used yet) */

}

@layer utilities {
  /* Utility Classes for Content Colors */
  
  .color-content-primary {
    color: var(--content-primary);
  }

  .color-content-secondary {
    color: var(--content-secondary);
  }

  .color-content-tertiary {
    color: var(--content-tertiary);
  }

  .color-content-disable {
    color: var(--content-disable);
  }

  .color-content-brand {
    color: var(--content-brand);
  }

  .color-content-link {
    color: var(--content-link);
  }

  .color-content-info {
    color: var(--content-info);
  }

  .color-content-notice {
    color: var(--content-notice);
  }

  .color-content-negative {
    color: var(--content-negative);
  }

  .color-content-positive {
    color: var(--content-positive);
  }
}
